<header>
  <h1>Welcome to this awesome timetracking tool</h1>

  <ul>
  	<li>
  		<a href="/"> Home </a>
  	</li>

  	<li>
  		<a href="/contact"> Contact Us </a>
  	</li>

  	<li>
  		<a href="/projects"> Projects </a>
  	</li>
  </ul>
</header>