<header>
  <h1>Timetracking tool</h1>

  <ul>
  	<li>
  		<a href="/"> Home </a>
  	</li>

    <li>
      <a href="/projects"> Projects </a>
    </li>

  	<li>
  		<a href="/contact"> Contact Us </a>
  	</li>
  </ul>
</header>