<h2>List of Projects</h2>

<ul>
	<% @projects.each do |project| %>
		<li><a href="/projects/<%=project.id%>"><%= project.name %></a></li>
	<% end %>
</ul>

<h5><a href="/projects/new">Click here</a> to create a new project</h5>