<h4>Contact Detail</h4>
<ul>
	<li><h3>Name: <%= @contact_detail.name %></h3></li>
	<li>Address: <%= @contact_detail.address %></li>
	<li>Phone Number: <%= @contact_detail.phone_number %></li>
	<li>Email Address: <%= @contact_detail.email_address %></li>
</ul>