<h4>List of Contacts</h4>

<ul>
	<% @contacts.each do |contact| %>
		<li><a href="/contacts/detail/<%=contact.id%>"><%= contact.name %></a></li>
	<% end %>
</ul>

<h5><a href="/contacts/new">Click here</a> to create a new contact</h5>