.box {
	color: white;
	border-style: solid;
	border-color: blue;
	background-color: red;
}

.box.blue{
	color:white;
	border-style: solid;
	border-color: red;
	background-color: blue
}

.box.green {
	background-color: green

}
div{
	margin: 10px
}

h3 {
	padding: 20%
}

#top {
	position: absolute;
	top: 350px;
	left: 350px;
}

#bottom {
	position: absolute;
	top: 400px;
	left: 500px;
}