<!-- view/about.erb -->

<h1> About Us</h1>

<p> We are disrupting the sinatra industry. Wehave great synergy with all other B2B businesses.</p>

<h2> Here are our values: </h2>

<ul>

<% if Date.today.tuesday? %>

	<li> Synergy </li>
	<li> B2B </li>
	<li> Disruption </li>
	<% end %>

<% if Date.today.wednesday? %>

	<li> Ping Pong </li>
	<li> Cornhole </li>

	<% end %>
</ul>