<!-- view/company.erb -->

<h1> Our Company</h1>

<p> We are disrupting the sinatra industry. We have great synergy with all other B2B businesses.</p>

<p>
	The company was created
	<%= Date.today %>.
</p>

<h2> This is who we are: </h2>

<ul>
	<li> Awesome Texts </li>
	<li> We will blow your mind with more Awesome Texts </li>
	<li> As if the above Awesome Texts wasn't enough here are some more mind blowing Awesome Texts </li>
</ul>