<h3>User Details</h3>
<p>
	<strong>Name:</strong> <%= @user.name %> 
	<br>
	<strong>Email:</strong> <%= @user.email %> 
</p>

<h4>
	<a href="/users/<%=@user.id%>/products"><%= @user.name %>'s Products</a>
</h4>